.works {
  padding: 8rem 0;

  @include small-tablet {
    padding: 3rem 0;
  }

  .swiper-slide {
    box-sizing: border-box;
  }

  &__pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    .swiper-pagination-bullet {
      margin: 0 .5rem;
      width: 1rem;
      height: 1rem;
      background-color: #dc7d43;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__btn {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;

    &.swiper-button-disabled {
      opacity: 0.5;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--prev {
      left: -7rem;
      transform: rotate(180deg) translateY(-50%);
    }

    &--next {
      right: -7rem;
    }
  }
}

.works-item {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  @include small-tablet {
    flex-direction: column;
    align-items: flex-start;
  }

  &__image {
    flex: 1;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    overflow: hidden;

    @include small-tablet {
      height: 24rem;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__chars {
    flex: 1;
  }

  &__capture {
    display: block;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: rgb(35, 35, 35);
    line-height: 1.2;

    @include small-tablet {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
  }

  &__list {
    margin-bottom: 1.2rem;
  }

  &__review {
    span {
      display: block;
      margin-bottom: 1.2rem;
      font-size: 1.8rem;
      color: rgb(133, 133, 133);
      line-height: 1.2;
    }

    p {
      margin: 0;
      font-size: 1.8rem;
      color: rgb(35, 35, 35);
      line-height: 1.389;

    }
  }
}


.works-char {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__capture {
    flex-grow: 1;
    display: block;
    font-size: 1.8rem;
    color: rgb(133, 133, 133);
    line-height: 1.2;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;

    @include small-tablet {
      font-size: 1.6rem;
    }

    span {
      flex-shrink: 0;
      white-space: nowrap;

      &::after {
        content: "............................................................................................................................................................................................................................................................................................................................................................";
        position: absolute;
      }
    }

  }

  &__value {
    font-size: 1.8rem;
    color: rgb(35, 35, 35);
    line-height: 1.2;
    text-align: right;

    @include small-tablet {
      font-size: 1.6rem;
    }
  }
}