<section class="cars">
  <div class="container">
    <h2 class="title2 cars__title">
      Ремонтируемые марки авто
    </h2>

    <div class="cars__items">
      <div class="cars__item">
        <div class="cars__image">
          <picture>
            <source srcset="./img/cars/toyota.webp" type="image/webp">
            <img src="./img/cars/toyota.png" loading="lazy" alt="">
          </picture>
        </div>
        <div class="cars__capture">Toyota</div>
      </div>
      <div class="cars__item">
        <div class="cars__image">
          <picture>
            <source srcset="./img/cars/lexus.webp" type="image/webp">
            <img src="./img/cars/lexus.png" loading="lazy" alt="">
          </picture>
        </div>
        <div class="cars__capture">Lexus</div>
      </div>
      <div class="cars__item">
        <div class="cars__image">
          <picture>
            <source srcset="./img/cars/nissan.webp" type="image/webp">
            <img src="./img/cars/nissan.png" loading="lazy" alt="">
          </picture>
        </div>
        <div class="cars__capture">Nissan</div>
      </div>
      <div class="cars__item">
        <div class="cars__image">
          <picture>
            <source srcset="./img/cars/infinity.webp" type="image/webp">
            <img src="./img/cars/infinity.png" loading="lazy" alt="">
          </picture>
        </div>
        <div class="cars__capture">Infinity</div>
      </div>
      <div class="cars__item">
        <div class="cars__image">
          <picture>
            <source srcset="./img/cars/suzuki.webp" type="image/webp">
            <img src="./img/cars/suzuki.png" loading="lazy" alt="">
          </picture>
        </div>
        <div class="cars__capture">Suzuki</div>
      </div>
      <div class="cars__item">
        <div class="cars__image">
          <picture>
            <source srcset="./img/cars/tank.webp" type="image/webp">
            <img src="./img/cars/tank.png" loading="lazy" alt="">
          </picture>
        </div>
        <div class="cars__capture">Tank</div>
      </div>
      <div class="cars__item">
        <div class="cars__image">
          <picture>
            <source srcset="./img/cars/geely.webp" type="image/webp">
            <img src="./img/cars/geely.png" loading="lazy" alt="">
          </picture>
        </div>
        <div class="cars__capture">Geely</div>
      </div>
      <div class="cars__item">
        <div class="cars__image">
          <picture>
            <source srcset="./img/cars/chery.webp" type="image/webp">
            <img src="./img/cars/chery.png" loading="lazy" alt="">
          </picture>
        </div>
        <div class="cars__capture">Chery</div>
      </div>
      <div class="cars__item">
        <div class="cars__image">
          <picture>
            <source srcset="./img/cars/china.webp" type="image/webp">
            <img src="./img/cars/china.png" loading="lazy" alt="">
          </picture>
        </div>
        <div class="cars__capture">China</div>
      </div>
    </div>
  </div>
</section>
