<section class="clients">
  <div class="container">
    <h2 class="title2 clients__title">
      Работаем с физическими
      и юридическими лицами
    </h2>
    <p class="desc clients__desc">
      Мы ценим вас, ваше время и ваши возможности, поэтому постоянно совершенствуем оказываемые услуги.
      Для вашего удобства мы предусмотрели несколько вариантов оплаты за работы, производимые в наших сервисах
    </p>

    <div class="clients__items">
      <div class="clients__item clients-item">
        <div class="clients-item__icon">
          <img src="./img/cash.png" alt="">
        </div>
        <div class="clients-item__content">
          <span class="clients-item__capture">Наличный расчет</span>
          <p class="clients-item__desc">
            Оплатить работы можно наличными на СТО,
            после выполнения всех работ. Примите
            работы, проверьте качество выполнения в
            присутствии мастера, после чего оплатите
            всю сумму
          </p>
        </div>
      </div>

      <div class="clients__item clients-item">
        <div class="clients-item__icon">
          <img src="./img/credit-card.png" alt="">
        </div>
        <div class="clients-item__content">
          <span class="clients-item__capture">Картами Visa, MasterCard и МИР</span>
          <p class="clients-item__desc">
            Оплатить работы можно картами, для этого у
            нас установлен терминал безналичной
            оплаты. Оплата принимается только после
            приемки проведенных работ
          </p>
        </div>
      </div>

      <div class="clients__item clients-item">
        <div class="clients-item__icon">
          <img src="./img/sbp.png" alt="">
        </div>
        <div class="clients-item__content">
          <span class="clients-item__capture">Системы быстрых платежей</span>
          <p class="clients-item__desc">
            Система быстрых платежей (СПБ) - это
            быстрый и удобный способ, позволяющий
            совершить мгновенную оплату. Вы можете
            воспользоваться оплатой через СПБ на кассе
            в нашем сервисе.
          </p>
        </div>
      </div>

      <div class="clients__item clients-item">
        <div class="clients-item__icon">
          <img src="./img/bill.png" alt="">
        </div>
        <div class="clients-item__content">
          <span class="clients-item__capture">Безналичный расчет по выставленному
            счету</span>
          <p class="clients-item__desc">
            Оплатите заказ на основании выставленного
            счета. Доступно только для юридических лиц
            и индивидуальных предпринимателей.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
