<header class="header">
  <div class="header__top">
    <div class="container header__container">
      <div class="header__left">
        <a href="./" class="header__logo">
          <img src="./img/logo.png" alt="AV-Service">
        </a>
      </div>
      <div class="header__right header__container">
        <div class="header__location header-loc">
          <img src="./img/map-icon.png" alt="">
          <span>
            Спб, ул. Потапова 2 лит Б.
          </span>
        </div>

        <a href="tel:78124540340" class="header__location">
          <img src="./img/tel-icon.png" alt="">
          <span>
            8 (812) 454-03-40
          </span>
        </a>

        <a href="#" class="header__tg">
          <img src="./img/tg-icon.png" alt="">
        </a>

        <button class="btn-reset header__btn modal-btn">
          Записаться
        </button>

        <button class="btn-reset header__burger">
          <div class="line"></div>
        </button>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
      <nav class="nav header__nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#services" class="nav__link">Наши услуги</a>
          </li>
          <li class="nav__item">
            <a href="#works" class="nav__link">Наши работы</a>
          </li>
          <li class="nav__item">
            <a href="#payment" class="nav__link">Оплата</a>
          </li>
          <li class="nav__item">
            <a href="#cars" class="nav__link">Ремонтируемые марки авто</a>
          </li>
          <li class="nav__item">
            <a href="#prices" class="nav__link">Цены</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  @include('./menu.html')
</header>