<div class="menu">
  <div class="menu__body">
    <nav class="footer__nav nav menu__nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a class="nav__link">Меню</a>
        </li>
        <li class="nav__item">
          <a href="#services" class="nav__link">Наши услуги</a>
        </li>
        <li class="nav__item">
          <a href="#works" class="nav__link">Наши работы</a>
        </li>
        <li class="nav__item">
          <a href="#payment" class="nav__link">Оплата</a>
        </li>
        <li class="nav__item">
          <a href="#cars" class="nav__link">Рекомендуемые марки авто</a>
        </li>
        <li class="nav__item">
          <a href="#prices" class="nav__link">Цены</a>
        </li>
      </ul>
    </nav>

    <address class="footer__address menu__address">
      <span class="footer__capture">Контактные данные</span>
      <a href="tel:78124540340" class="footer__info">
        <img src="./img/tel-icon.png" alt="">
        <span>8 (812) 454-03-40</span>
      </a>
      <a href="mailto:info@avservice.ru" class="footer__info">
        <img src="./img/mail-icon.png" alt="">
        <span>info@avservice.ru</span>
      </a>
      <span class="footer__info">
        <img src="./img/map-icon.png" alt="">
        <span>Спб, ул. Потапова 2 лит Б.</span>
      </span>
      <a href="#" class="footer__tg">
        <img src="./img/tg-icon.png" alt="">
      </a>
    </address>
  </div>
</div>