<div class="modal">
  <div class="modal__body">
    <div class="modal__close">
      <img src="./img/close-icon.png" alt="&times;">
    </div>
    <h3 class="cta__title modal__title">Заказать звонок</h3>
    <p class="cta__desc modal__desc">Наш менеджер свяжется с вами для консультации</p>
    <form action="#" class="cta__form form modal-form">
      <label class="form__label">
        <input type="text" class="form__input input-name" placeholder="Ваше имя">
      </label>
      <label class="form__label">
        <input type="tel" class="form__input input-tel" placeholder="+7 (___)-___-__-__">
      </label>
      <button class="btn-reset btn form__btn">Отправить</button>

      <input type="checkbox" id="m-checkbox" class="visually-hidden form__ch input-check">
      <label for="m-checkbox" class="form__check">
        <div class="form__box"></div>
        <span class="form__text">
          Нажимая «Отправить», вы принимаете пользовательское соглашение
          и соглашаетесь с правилами использования и обработки персональных данных.
        </span>
      </label>
    </form>
  </div>
</div>