<section class="services" id="services">
  <div class="container">
    <h2 class="title2 services__title">Наши услуги</h2>
    <p class="desc services__desc">Выполняем более 300 видов работ для 50 марок автомобилей</p>

    <div class="services__items">
      <div class="services__item services__item--big">
        <div class="services__image">
          <picture>
            <source srcset="./img/services/01.webp" type="image/webp">
            <img src="./img/services/01.png" alt="">
          </picture>
        </div>
        <div class="services__capture">Ремонт двигателя</div>
      </div>

      <div class="services__item">
        <div class="services__image">
          <picture>
            <source srcset="./img/services/02.webp" type="image/webp">
            <img src="./img/services/02.png" alt="">
          </picture>
        </div>
        <div class="services__capture">Ремонт подвески</div>
      </div>

      <div class="services__item">
        <div class="services__image">
          <picture>
            <source srcset="./img/services/03.webp" type="image/webp">
            <img src="./img/services/03.png" alt="">
          </picture>
        </div>
        <div class="services__capture">Ремонт трансмиссии</div>
      </div>

      <div class="services__item">
        <div class="services__image">
          <picture>
            <source srcset="./img/services/04.webp" type="image/webp">
            <img src="./img/services/04.png" alt="">
          </picture>
        </div>
        <div class="services__capture">Ремонт электрооборудования</div>
      </div>

      <div class="services__item">
        <div class="services__image">
          <picture>
            <source srcset="./img/services/05.webp" type="image/webp">
            <img src="./img/services/05.png" alt="">
          </picture>
        </div>
        <div class="services__capture">Кузовной ремонт</div>
      </div>

      <div class="services__item">
        <div class="services__image">
          <picture>
            <source srcset="./img/services/06.webp" type="image/webp">
            <img src="./img/services/06.png" alt="">
          </picture>
        </div>
        <div class="services__capture">Ремонт топливной системы</div>
      </div>

      <div class="services__item">
        <div class="services__image">
          <picture>
            <source srcset="./img/services/07.webp" type="image/webp">
            <img src="./img/services/07.png" alt="">
          </picture>
        </div>
        <div class="services__capture">Ремонт тормозной системы</div>
      </div>
      <div class="services__item services__item--big">
        <div class="services__image">
          <picture>
            <source srcset="./img/services/10.webp" type="image/webp">
            <img src="./img/services/10.png" alt="">
          </picture>
        </div>
        <div class="services__capture">Помощь на дороге</div>
      </div>
      <div class="services__item">
        <div class="services__image">
          <picture>
            <source srcset="./img/services/08.webp" type="image/webp">
            <img src="./img/services/08.png" alt="">
          </picture>
        </div>
        <div class="services__capture">Ремонт рулевого управления</div>
      </div>

      <div class="services__item">
        <div class="services__image">
          <picture>
            <source srcset="./img/services/09.webp" type="image/webp">
            <img src="./img/services/09.png" alt="">
          </picture>
        </div>
        <div class="services__capture">Диагностика автомобиля</div>
      </div>



    </div>
  </div>
</section>