<section class="works">
  <div class="container">
    <h2 class="title2 works__title">Наши работы</h2>
    <p class="desc works__desc">
      Выполняем более 300 видов работ для 50 марок автомобилей
    </p>

    <div class="works__wrapper">
      <div class="works__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="works__item works-item">
              <div class="works-item__image">
                <picture>
                  <source srcset="./img/works/01.webp" type="image/webp">
                  <img src="./img/works/01.png" alt="">
                </picture>
              </div>
              <div class="works-item__chars">
                <span class="works-item__capture">Toyota RAV4 2010 г.в.</span>
                <ul class="list-reset works-item__list">
                  <li class="works-item__item works-char">
                    <span class="works-char__capture"><span>Работы</span></span>
                    <span class="works-char__value">Ремонт АКПП</span>
                  </li>
                  <li class="works-item__item works-char">
                    <span class="works-char__capture"><span>Стоимость работ</span></span>
                    <span class="works-char__value">152 000 руб</span>
                  </li>
                  <li class="works-item__item works-char">
                    <span class="works-char__capture"><span>Сроки работ</span></span>
                    <span class="works-char__value">14 дней</span>
                  </li>
                </ul>
                <div class="works-item__review">
                  <span>Отзыв владельца:</span>
                  <p>
                    Я с удовольствием поделюсь положительным отзывом о сервисном
                    центре для автомобилей, в котором мне довелось обслуживаться.
                    Персонал центра проявил профессионализм и внимание к каждой
                    детали, начиная с диагностики до проведения качественного
                    ремонта. Работу выполнили быстро и в срок, а цены оказались
                    честными и адекватными. Мне приятно было видеть, что механики
                    тщательно относятся к моему автомобилю и выполняют свою работу
                    на самом высоком уровне. Я остался доволен результатом и готов
                    вернуться в этот сервисный центр в случае необходимости. Поэтому
                    с уверенностью рекомендую его всем автовладельцам, как
                    надежное место для ремонта и обслуживания их автомобилей.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="works__item works-item">
              <div class="works-item__image">
                <picture>
                  <source srcset="./img/works/01.webp" type="image/webp">
                  <img src="./img/works/01.png" alt="">
                </picture>
              </div>
              <div class="works-item__chars">
                <span class="works-item__capture">Toyota RAV4 2010 г.в.</span>
                <ul class="list-reset works-item__list">
                  <li class="works-item__item works-char">
                    <span class="works-char__capture"><span>Работы</span></span>
                    <span class="works-char__value">Ремонт АКПП</span>
                  </li>
                  <li class="works-item__item works-char">
                    <span class="works-char__capture"><span>Стоимость работ</span></span>
                    <span class="works-char__value">152 000 руб</span>
                  </li>
                  <li class="works-item__item works-char">
                    <span class="works-char__capture"><span>Сроки работ</span></span>
                    <span class="works-char__value">14 дней</span>
                  </li>
                </ul>
                <div class="works-item__review">
                  <span>Отзыв владельца:</span>
                  <p>
                    Я с удовольствием поделюсь положительным отзывом о сервисном
                    центре для автомобилей, в котором мне довелось обслуживаться.
                    Персонал центра проявил профессионализм и внимание к каждой
                    детали, начиная с диагностики до проведения качественного
                    ремонта. Работу выполнили быстро и в срок, а цены оказались
                    честными и адекватными. Мне приятно было видеть, что механики
                    тщательно относятся к моему автомобилю и выполняют свою работу
                    на самом высоком уровне. Я остался доволен результатом и готов
                    вернуться в этот сервисный центр в случае необходимости. Поэтому
                    с уверенностью рекомендую его всем автовладельцам, как
                    надежное место для ремонта и обслуживания их автомобилей.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="works__btn works__btn--prev">
        <img src="./img/arrow.png" alt="&LeftArrow;">
      </div>
      <div class="works__btn works__btn--next">
        <img src="./img/arrow.png" alt="&RightArrow;">
      </div>
    </div>
    <div class="works__pagination"></div>
  </div>
</section>
